{
    "MYSQL": [
        {
            "host": "xxxx",
            "user": "xxxx",
            "password": "xxxx",
            "database": "xxxx"
        },
        {
            "host": "xxxx",
            "user": "xxxx",
            "password": "xxxx",
            "database": "xxxx"
        }
    ],
    "MSSQL": [
        {
            "host": "xxxx",
            "user": "xxxx",
            "password": "xxxx",
            "database": "xxxx"
        }
    ],
    "email": {
        "host": "xxxx",
        "port": xxxx,
        "user": "xxxx",
        "pass": "xxxx",
        "from": "xxxx"
    },
    "SECRET": "xxxx",
    "IV": "xxxx",
    "TOKEN": "xxxx",
    "CODE_ENCRYPT": "xxxx",
    "ENCODING": "xxxx"
}